html,
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
html {
  background: $brand-dark;
}
body {
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
.uppercase {
  text-transform: uppercase;
}
.super {
  font-size: 3em;
}
.extra {
  font-size: 7em;
}
.away-top {
  margin-top: 4em;
}
.away-bottom {
  margin-bottom: 4em;
}
.light {
  font-family: 'Catamaran', sans-serif;
  font-weight: 300;
}
img,
video {
  width: 100%;
}
.text-left {
  text-align: left;
}
.is-show,
.is-hide {
  font-family: monospace;
}
