.mobilenav {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 250px;
  background: $brand-dark;
  z-index: $base-z-index1;
  box-shadow: 0 0 5px rgba(0,0,0,0.4);
}
.mobilenav .togglenav {
  position: absolute;
  left: 0;
  background: $brand;
  height: 70px;
  width: 70px;
  display: block;
  padding: 0;
  margin: 0;
  transition: 0.1s;
  z-index: $base-z-index2;
}
.mobilenav .togglenav:hover {
  background: $brand-dark;
}
.mobilenav .togglenav .one,
.mobilenav .togglenav .two,
.mobilenav .togglenav .three {
  width: 29px;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 34px;
  left: 23px;
  transition: 0.2s;
}
.mobilenav .togglenav .one {
  transform: translateY(-7px);
}
.mobilenav .togglenav .three {
  transform: translateY(7px);
}
.mobilenav .brand {
  position: absolute;
  left: 70px;
  width: 180px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  z-index: $base-z-index2;
}
.mobilenav .brand img {
  width: auto;
  height: 50px;
}
.globalnav {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 10%;
  background: rgba(10,32,92,0.9);
  opacity: 0;
  z-index: -1;
  transition: 0.05s zIndex, 0.2s opacity;
}
.globalnav li {
  line-height: 3em;
}
.globalnav a {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  text-decoration: none;
  transition: 0.2s;
  display: inline-block;
  position: relative;
}
.globalnav a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background: #fff;
  transition: 0.2s;
}
.globalnav a:hover::before {
  width: 100%;
}
body.activenav .mobilenav .togglenav {
  background: $brand-dark;
}
body.activenav .mobilenav .togglenav .one,
body.activenav .mobilenav .togglenav .two,
body.activenav .mobilenav .togglenav .three {
  background: #fff;
}
body.activenav .mobilenav .togglenav .one {
  transform: translateY(0);
}
body.activenav .mobilenav .togglenav .two {
  transform: scaleX(0);
}
body.activenav .mobilenav .togglenav .three {
  transform: translateY(0);
}
body.activenav .mobilenav .brand {
  background: $brand-dark;
}
body.activenav .globalnav {
  opacity: 1;
  z-index: z-index $base-z-index1;
}
